* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
}

header {

    display: flex;
    justify-content: space-between;
    padding: 2vh 12vw;
    height: 10vh;
    border-bottom: 1px solid #ddd;
    align-items: center;
   

}

.logo-container a img {
    width: 200px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: #666;
}
nav ul a:hover{
    color: blue;
}
.hero-section {
        display:flex ;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

}
.hero-img-container img{
    width: 80vw;
    height: auto;

}
.hero-desc{
    text-align: center;
}
.hero-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-info{
        margin-bottom: 20px;
}
.hero-desc p a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.hero-desc a:hover{
    background-color: black;
}
.sec-2{
    display: flex;
    padding: 2vh 12vw;
    margin-top: 100px;

}
.title-desc{
    padding-bottom: 4vh;
    justify-content: space-between;
}
.sec-2-left h3{
    padding-bottom: 4vh;
    font-size: 30px;
}
.sec-2-right{
    width: 44vw;
}
.sec-2-right img{
    width: 100%;
}
.sec-2-p{
    font-size: 22px;
    padding-bottom: 2vh;
    font-weight: bold;
}
.sec-2-p-2{
    width: 27vw;
    color: #666;
    line-height: 28px;

}
.press img{
/*     
    justify-content: center;
    padding-left: 400px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.links a{
    gap: 50 px;
    text-decoration: none;
    color: blue;
    
}
.links{
    padding-left: 200px;
    gap: 4vw;
}
.unbeatable-pricing{
    display: flex;
    justify-content: space-between;
    padding: 2vh 12vw;
   
  
}
.unbeatable-pricing a{
    text-decoration: none;
    color: blue;
}
.img1{
    height: 120px;
    width: 120px;
}
.img2{
    height: 120px;
    width: 120px;
}
.img3{
    height: 120px;
    width: 120px; 
}
.text{
    width: 250px;
}
.p1{
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin-bottom: 10px;
    line-height: 25px;
}
.img1,
.img2,
.img3{
    display: flex;
    align-self: flex-end;

}
.img1 p,
.img2 p,
.img3 p{
    font-size: 10px;
    align-self: flex-end;
    width: 50%;
}

.varsity{
    display: flex;
    justify-content: space-between;
    padding: 2vh 8vw;
}
.varsity-img{
    justify-content: space-between;
}
.varsity-p{
    width: 50%;
}
.varsity-p h2{
    justify-content: space-between;
    padding-top: 120px;
    color: #424242;
    /* font-family: "Inter", serif; */
}
.varsity-p p{
    line-height: 30px;
}
.varsity a{
    text-decoration: none;
}
.res-account{
    text-align: center;
    line-height: 40px;
    color: #424242;
}
.res-account button{
    margin-top: 15px;
    height: 50px;
    width: 200px;
    background-color: #387ed1;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: 3px;
    font-size: 1.2em;
}
.zerodha{
    justify-content: space-between;
    display: flex;
    padding: 2vh 12vw;
}
.z-img{
    width: 280px;
    line-height: 25px;
}
.z-img img{
   
    width: 200px;
}
.z-img2{
    height: 10px;
    width: 10px;
}
.zerodha{
    background-color: #ffffff;
}
.company a{
    margin: 25px;
}
.zerodha .company h2,
.zerodha .support h2,
.zerodha .account h2{
    color: #2e2e2e;
}
.zerodha .company a,
.zerodha .support a,
.zerodha .account a{
    text-decoration: none;
    color: #424242;
}
.last{
    justify-content: space-between;
    padding: 2vw 12vh   ;
}
p a{
    text-decoration: none;
    font-size: .65rem;
    
}
p a:hover{
    color: black;
}
.last p{
    color: #9b9b9b;
    font-size: .65rem;
    line-height: 25px;
    text-align:left;
    line-height: 1.8;   
    
}
.last-1{
    justify-content: space-between;
    padding: 2vw 12vh;
    text-align: center;
    
}
.last-1 a{
    color: #9b9b9b;
    text-decoration: none;
    padding-right: 40px;
    font-size: .8rem;

}
.last-1 a:hover{
    color: blue;
}



