* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
}

header {

    display: flex;
    justify-content: space-between;
    padding: 2vh 12vw;
    height: 10vh;
    border-bottom: 1px solid #ddd;
    align-items: center;
   

}

.logo-container a img {
    width: 200px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 28px;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: #666;
}
nav ul a:hover{
    color: blue;
}
.hero-section {
        display:flex ;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

}
.hero-img-container img{
    width: 80vw;
    height: auto;

}
.hero-desc{
    text-align: center;
}
.hero-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-info{
        margin-bottom: 20px;
}
.hero-desc p a{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.hero-desc a:hover{
    background-color: black;
}
.sec-2{
    display: flex;
    padding: 2vh 12vw;
    margin-top: 100px;

}
.title-desc{
    padding-bottom: 4vh;
    justify-content: space-between;
}
.sec-2-left h3{
    padding-bottom: 4vh;
    font-size: 30px;
}
.sec-2-right{
    width: 44vw;
}
.sec-2-right img{
    width: 100%;
}
.sec-2-p{
    font-size: 22px;
    padding-bottom: 2vh;
    font-weight: bold;
}
.sec-2-p-2{
    width: 27vw;
    color: #666;
    line-height: 28px;

}
.press img{
/*     
    justify-content: center;
    padding-left: 400px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.links a{
    gap: 50 px;
    text-decoration: none;
    color: blue;
    
}
.links{
    padding-left: 200px;
    gap: 4vw;
}
.unbeatable-pricing{
    display: flex;
    justify-content: space-between;
    padding: 2vh 12vw;
   
  
}
.unbeatable-pricing a{
    text-decoration: none;
    color: blue;
}
.img1{
    height: 120px;
    width: 120px;
}
.img2{
    height: 120px;
    width: 120px;
}
.img3{
    height: 120px;
    width: 120px; 
}
.text{
    width: 250px;
}
.p1{
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin-bottom: 10px;
    line-height: 25px;
}
.img1,
.img2,
.img3{
    display: flex;
    align-self: flex-end;

}
.img1 p,
.img2 p,
.img3 p{
    font-size: 10px;
    align-self: flex-end;
    width: 50%;
}
